$body-bgcolor: #FFFFFF;
$body-text-color: #000000;
$link-color: #0000EE;
$link-visited-color: #551A8B;
$link-hover-color: #0000EE;
$link-active-color: #EE0000;

$header-bgcolor: #003366;
$header-text-color: #FFFFFF;

$primary-nav-bgcolor: #144169;
$primary-nav-link-color: #FFF;

$secondary-nav-item-bgcolor: #6298c7;
$secondary-nav-link-color: #EEE;


$button-bgcolor: #003366;
$button-text-color: #FFF;
$input-bgcolor: #FFF;